//page-home {

//}
ion-icon {
    font-size: 100px;
    vertical-align: middle;
    width: 70%;
    height: 70%;
}
button {
    width: 100%;
    height: 100%;
}

.material-icons.md-36 {
     font-size: 100px;
    }
ion-col {
    padding: 0px;
}