page-temperature {

}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    vertical-align: middle;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: color($colors, primary);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 6%;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#output {
    font-weight:bold;
    font-size: 80px;
    color:white;
    text-align:center;
    margin-bottom: 0px;
}


.slider-stats {
    height: 40%;
    margin-bottom: 5%;
}

.temperature-card {
    height: 80%;
    margin-bottom: 10%;
}

#temp-title {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: white;
}

ion-card-header {
    text-align: center;
    font-size: 100px;
}

#degrees {
    content: "\2109";
}
.hvac {
    height: 10px;
    width: 10px;

}
#temp-range {
    width: 70%;
}